<header class="topBar bois">
	<a href="#/"><i class="iconHome"></i></a>
	<a class="badge" href="#/messages/conversations">{{notifications | zeroIsNull}}</a>
	<h3>Changer votre mot de passe</h3>
</header>
<ul class="unstyled">
	<li ng-hide="hiddenMessage" class="errorMessage" ng-repeat="errorMessage in errorMessages">
		{{errorMessage}}
	</li>
</ul>
<section id="change_password">
	<article id="requestChangePassword" ng-hide="request">
		<div>
			<div class="inputWithAddon">
				<label for="old_password" class="addOn">
					<i class="iconLock"></i>
				</label>
				<input type="password" name="old_password" id="old_password" placeholder="ancien mot de passe"  ng-model="oldPassword"/>
			</div>
			<div class="inputWithAddon">
				<label for="new_password" class="addOn">
					<i class="iconLock"></i>
				</label>
				<input type="password" name="new_password" id="new_password" placeholder="nouveau mot de passe"  ng-model="newPassword"/>
			</div>
		</div>
		<div>
			<button class="largeButton bois" ng-click="changePasswordClick()">Connexion</button>
		</div>
	</article>
	<article id="successChangePassword" ng-hide="success">
		<h4>Votre mot de passe a été mis à jour !</h4>
	</article>
</section>
