<header class="topBar bois">
	<a href="#/"><i class="iconHome"></i></a>
	<h3>Connexion</h3>
</header>
<ul class="unstyled">
	<li ng-hide="hiddenMessage" class="errorMessage" ng-repeat="errorMessage in errorMessages">
		{{errorMessage}}
	</li>
</ul>
<section id="connexion">
	<header id="grand_logo">
		<img src="img/logo.png">
	</header>
	<article>
		<div>
			<div class="inputWithAddon">
				<label for="login" class="addOn">
					<i class="iconLogin"></i>
				</label>
				<input type="email" name="login" id="login" placeholder="entrer votre adresse mail" ng-model="login"/>
			</div>
			<div class="inputWithAddon">
				<label for="password" class="addOn">
					<i class="iconLock"></i>
				</label>
				<input type="password" name="password" id="password" placeholder="password"  ng-model="password"/>
			</div>
		</div>
		<div>
			<button class="largeButton bois" ng-click="connexionClick()">Connexion</button>
		</div>
	</article>

	<article>
		<a class="largeButton bois" href="#/inscription" >Inscription</a>
	</article>
</section>
