<header class="topBar bois">
	<a href="#/"><i class="iconHome"></i></a>
	<h3>Mot de passe perdu ?</h3>
</header>
<ul class="unstyled">
	<li ng-hide="hiddenMessage" class="errorMessage" ng-repeat="errorMessage in errorMessages">
		{{errorMessage}}
	</li>
</ul>
<section id="reset_password">
	<article ng-hide="request" id="requestResetPassword">
		<div>
			<h4>Mot de passe perdu ?</h4>
			<div class="inputWithAddon">
				<label for="email" class="addOn">
					<i class="iconEmail"></i>
				</label>
				<input type="email" name="email" id="email" placeholder="entrer votre adresse mail" ng-model="email"/>
			</div>
		</div>
		<div>
			<button class="largeButton bois" ng-click="resetPassword()">Connexion</button>
		</div>
	</article>
	<article ng-hide="success" id="successResetPassword">
		<h4>Un nouveau mot de passe vous a été envoyé dans votre boite mail !</h4>
	</article>
</section>
