
/*											===================================================
																Bootstrap-like
  											=================================================== */

/*
	Par défaut on remplace le noir par du gris foncé, et on utilise la police Lato
*/
html {
	color:#333;
	font-family: 'Lato', sans-serif;
}

.aligned-right{
	text-align : right;
}

ul.unstyled {
	margin: 0;
	list-style: none;
	padding: 0;
}

/*
on supprime le style de base hideux des liens
*/
a {
	color:#333;
	text-decoration:none;
}


.largeButton {
	display: block;
	width: 100%;
	padding: 11px 0px;
	cursor:pointer;
	font-size: 1em;
	-webkit-border-radius:6px;
	-ms-border-radius:6px;
	border-radius: 6px;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
	text-align: center;
}

/*
on donne un look joli aux formulaires
*/
select, textarea, input[type="text"], input[type="password"]{
	background-color: white;
	border: 1px solid #ccc;
	line-height: 20px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
}

input, select, textarea{
	margin:0px; /* reset le comportement par défaut de webkit/chrome */
    font-size: 20px;
    padding: 4px 5px;
    color: #444;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*
	Lorsqu'on veut associer un addon à un input, on le met dans un div de classe .inputWithAddon, et on donne à son label une classe addOn
*/

.inputWithAddon {
	margin:10px 0px;
}

/*
	Dans le mode compatible safari, plutôt que de mettre l'addon et l'input d'un à coté de l'autre, je me l'addon par dessus l'input, et je met juste suffisement de padding dans l'input pour que ça ne se voie pas ... (c'est dégueux je sais ... Mais safari a qu'a être flex-compliant)
*/

.inputWithAddon input {
	display:inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-left:60px;
	position:relative;
	left:0px;
	width:100%;
}

.addOn{
    position:absolute;
    z-index:1;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	padding: 2px 5px;
	font-weight: normal;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	color: rgb(51,51,51);
}

/*
	Des badges à la bootstrap
*/

.badge{
	margin-left:5px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: rgb(255, 255, 120);
    background-color: rgb(253, 23, 53);
    border-radius: 10px 10px 10px 10px;
}

.badge:empty { /*On n'affiche pas le badge s'il n'y a rien dedans*/
    display: none !important;
}

.muted {
	font-size:0.6em;
	color:#BBB;
}

/*
	Un message d'erreur à la bootstrap mais avec de plus jolies couleurs
*/

.errorMessage {
	padding: 15px;
	margin-bottom: 20px;
	color: rgb(214, 5, 0);
	background-color: rgb(249, 180, 178);
	font-size:14px;
}
.warningMessage {
	padding: 15px;
	margin-bottom: 20px;
	color: rgb(214, 5, 0);
	background-color: rgb(244, 212, 97);
	font-size:14px;
}
/*
	Affichage un peut différent si les messages d'erreur sont dans une liste : ie, qu'il peut y avoir plusieurs erreurs simultanées sur la même page.
*/
li.errorMessage {
	padding: 5px;
	margin-bottom: 0px;
}
li.errorMessage:first-child {
	padding-top:15px;
}
li.errorMessage:last-child {
	margin-bottom: 20px;
	padding-bottom:15px;
}

/*
	Gestion des icones à la bootstrap
*/

[class^="icon"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right top;
}

.addOn [class^="icon"] {
    width: 20px;
    height: 20px;
    margin: 3px 15px;
}

.iconLogin {
	background-image:url(../img/login.png);
}

.iconSearch {
	background-image:url(../img/search.png);
}

.iconExit {
	background-image:url(../img/exit.png);
}

.iconPosition {
	background-image:url(../img/position.png);
}

.iconGroup {
	background-image:url(../img/groupe.png);
}

.iconMessage {
	background-image:url(../img/message.png);
}

.iconLock {
	background-image:url(../img/lock.png);
}

.iconHome {
	background-image:url(../img/home.png);
}

.iconDelete {
	background-image:url(../img/delete.png);
}
/*											===================================================
														Style propre à RacletteShare
  											=================================================== */

/*
Pour le fallback pour les vieux IE
*/

#fallbackIE {
	margin:50px auto;
	width:50%;
}
#fallbackIE a {
	color:rgb(0,135,245);;
}

body {
	margin:0px;
	background-image: url("../img/bckgrnd.png");
	background-size: 100% auto;
	background-color:rgb(235, 223, 213);
	background-repeat: repeat-y;
	font-size:1.2em;
}

section {
	margin:0px 15px;
}

@media (min-width:600px){
	section {
		width:50%;
		margin:auto;
	}
}

.bois{
	background-image: url(../img/bois.png);
	border: 1px solid #cccccc;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	/*line-height: 20px;*/
	margin-bottom: 0;
}

.topBar {
	padding: 24px 5px;
}

.topBar h3{
	text-align:center;
	font-size:1.3em;
	color:#333;
	margin: 0px;
}

.topBar a + .topBar h3{ /* un selecteur d'adjacence : cible le h3 qui suit immédiatement un a */
	margin-right:44px; /* Pour compenser le liens vers la page d'accueil*/
}

.topBar a {
	float:left;
}

.topBar badge {
	margin-top:5px;
}

.topBar .iconHome {
    width: 29px;
    height: 29px;
    margin-left:15px;
}

.bois.largeButton:hover {
	background-image: url(../img/bois-sombre.png);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

#grand_logo {
	text-align:center;
}

@media (max-width:600px){
	#grand_logo img {
		width:150px;
	}
}

.onePicList li{
	border: 2px inset #ccc;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0px;
	padding:10px;
}

.onePicList .pic {
	margin-right:15px;
	line-height: 75px;
	height: 75px;
	float:left;
	/*
		ce qui suit je le met pour que tous les textes soient alignés quelque soit la largeur de l'image
	*/
	text-align: center;
	width: 75px;
}

.onePicList img {
	vertical-align: middle;
}


/*
	spécificités de la page connexion
*/

article:last-child{
	margin-top:20px;
}

/*
	spécificités de la page reset
*/

#reset_password #success h4{
	text-align:center;
}

/*
	spécificité de la page de dashboard
*/

#dashboardHeader {
	height:74px;
}

#dashboardHeader #profileSummary {
	display:block;
	position:absolute;
	top:10px;
	left:10px;
}

#dashboardHeader #profileSummary img {
	width:54px;
	float:left;
	display:inline-block;
}

#dashboardHeader #profileSummary #myName {
	font-size:0.8em;
	display:inline-block;
	position:relative;
	top:12px;
	left:5px;
}

#dashboardHeader #profileSummary .badge {
	position:relative;
	top:12px;
	left:5px;
}

#dashboardHeader #deconnexionButton {
	display:block;
	cursor:pointer;
	position:absolute;
	top:28px;
	right:15px;
}

#dashboardHeader #connexionButton {
	position:absolute;
	cursor:pointer;
	display:block;
	font-size:0.8em;
	top:22px;
	left:10px;
}

#dashboard .search {
	position:relative;
}

#dashboard .search {
	margin-bottom:10px;
}

#dashboard .search input, #dashboard .search select {
	height:35px;
	width:100%;
	padding-right:132px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#dashboard .search a {
	position:absolute;
	right:0px;
	top:0px;
	padding:4px 5px 5px 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 0px 4px 4px 0px;
	-ms-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

#dashboard .search a.bois:hover {
	background-image: url(../img/bois-sombre.png);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

@media (max-width:600px){
	#dashboard .search a.bois span {
		display:none;
	}

	#dashboard .search input, #dashboard .search select {
		padding-right:31px;
	}

}

#dashboard #pret a:last-child {
	margin-top:10px;
}

/*
	spécificité de la page de mon_profil
*/

#mon_profil header {
	text-align:center;
}

#mon_profil header img {
	margin-top:5px;
}

#mon_profil header h5{
	margin:5px 0px;
}

#mon_profil header h6 {
	margin-top:0px;
}

#mon_profil .largeButton {
	margin-bottom:10px;
}

/*
	spécificité de la page de mes_objets
*/

#mes_objets .iconDelete{
	cursor:pointer;
}



/*
	spécificité des pages nouvel_objet et edit_objet
*/

#nouvel_objet input[type="text"], #nouvel_objet select, #nouvel_objet textarea, #edit_objet input[type="text"], #edit_objet select, #edit_objet textarea {
	width:100%;
}

#nouvel_objet textarea, #edit_objet textarea {
	height:150px;
	
}

#nouvel_objet #imgDiv, #edit_objet #imgDiv {
	text-align:center;
}

#nouvel_objet img, #edit_objet img {
	width:320px;
}


#nouvel_objet div, #edit_objet div {
	margin: 15px 0px;
}

@media (min-width:600px){
	#nouvel_objet div, #edit_objet div {
		width:60%;
		margin: 15px 20%;
	}
}

/*
	spécificité de la page de recherche_category
*/

/*
	spécificité de la page de recherche_nom
*/

/*
	spécificité de la page de détail_objet
*/

#detail_objet {
	text-align:center;
}

#detail_objet #description {
	text-align:left;
	min-height:150px;
	background-color:rgb(255, 245, 242);
	border: 1px solid #ccc;
	padding:15px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#detail_objet #description:empty {
	display:none !important;
}

@media (min-width:600px){
	#nouvel_objet div, #edit_objet div {
		width:60%;
		margin: 15px 20%;
	}
}

/*
	spécificité de la page de détail_conversation
*/

#detail_conversation .onePicList li{
	border: 1px inset #ccc;
	margin: 5px 0px;
	padding:10px;
	background-color:#FFF;
}

#detail_conversation .onePicList li.me{
	background-color:#FFEFCe;
	border:none;
}

#detail_conversation .onePicList .me .pic {
	float:right;
}

#detail_conversation textarea {
	width:100%;
	min-height:100px;
}

@media (max-width:600px){
	#detail_conversation textarea {
		text-align:right;
	}
}

#detail_conversation .me {
	text-align:right;
}

/*
	spécificité de la page de mes_conversations
*/

#mes_conversations .onePicList li{
	border: 2px inset #ccc;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0px;
	padding:10px;
	min-height:40px;
}

#mes_conversations .onePicList .pic {
	float:left;
}

#mes_conversations .onePicList img {
	width: 50px;
}
