<header class="bois" id="dashboardHeader">
	<a href="#/connexion" id="connexionButton" ng-hide="connected">Connectez-vous !</a>
	<div id="profileSummary" ng-hide="!connected">
		<a href="#/users/my">
			<img ng-src="users/pictures/my" alt="ma photo"/>
			<span id="myName">{{name}}</span>
		</a>
		<a class="badge" href="#/messages/conversations">{{notifications | zeroIsNull}}</a>
	</div>
	<span ng-hide="!connected" id="deconnexionButton" ng-click="deconnexionClick()" title="Déconnexion"><i class="iconExit"></i></span>
</header>
<section id="dashboard">
	<header id="grand_logo">
			<img src="img/logo.png">
	</header>

	<article id="pret">
		<h3>Je prête</h3>
		<a href="#/nouvel_objet" class="largeButton bois">Nouveau prêt</a>
	</article>
	<article id="emprunt">
		<h3>J'emprunte</h3>
		<div class="search">
			<input type="search" placeholder="Par mots clés" ng-model="searchParam1">
			<a href="#/items/keyword/{{searchParam1}}" class="bois">
				<i class="iconSearch"></i>
				<span> Rechercher </span>
			</a>
		</div>
		<div class="search">
			<select ng-model="category" ng-options="cat.label for cat in categories"/></select>
			<a href="#/items/category/{{category.id}}" class="bois">
				<i class="iconSearch"></i>
				<span> Rechercher </span>
			</a>
		</div>
	</article>
</section>
