<header class="topBar bois">
	<a href="#/"><i class="iconHome"></i></a>
	<a class="badge" href="#/messages/conversations">{{notifications | zeroIsNull}}</a>
	<h3>{{nom_objet || loadingErr}}</h3>
</header>
<ul class="unstyled">
	<li ng-hide="hiddenMessage" class="errorMessage" ng-repeat="errorMessage in errorMessages">
		{{errorMessage}}
	</li>
</ul>
<section id="edit_objet" ng-hide="!hiddenMessage">
	<form ng-submit="submit()">
		<div id="imgDiv">
			<img ng-src="/items/pictures/{{itemId}}" alt="photo de l'objet"/>
		</div>
		<div>
			<label for="nom_objet">Nom de l'objet</label>
			<input type="text" name="nom_objet" id="nom_objet" required=required required="required" ng-model="nom_objet">
		</div>
		<div>
			<label for="category">Catégorie</label>
			<select id="category" ng-model="category" required="required" ng-options="cat for cat in categories"/>
			</select>
		</div>
		<div>
			<label for="description">Description de l'objet</label>
			<textarea id="description" ng-model="description" ></textarea>
		</div>
		<input type="submit" class="largeButton bois" value="Valider votre objet">
	</form>
</section>

