<header class="topBar bois">
	<a href="#/"><i class="iconHome"></i></a>
	<a class="badge" href="#/messages/conversations">{{notifications | zeroIsNull}}</a>
	<h3>Nouvel objet</h3>
</header>
<div ng-hide="hiddenMessage" class="errorMessage">
	{{errorMessage}}
</div>
<div ng-hide="hiddenWarning" class="warningMessage">
	{{warningMessage}}
</div>
<section id="nouvel_objet">
	<form ng-submit="submit()">
		<div id="imgDiv">		
			<input type="file" accept="image/*" name="photo" required="required" capture="camera" autofocus="autofocus" onchange="updatePicture(this)"/>
			<!-- Angular ne gère pas les input de type file, du coup je fais tout en JavaScript maison -->
			<img ng-src="{{imgB64}}" title="{{imgName}}"/>
		</div>
		<div>
			<label for="nom_objet">Nom de l'objet</label>
			<input type="text" name="nom_objet" id="nom_objet" required=required required="required" ng-model="nom_objet">
		</div>
		<div>
			<label for="category">Catégorie</label>
			<select id="category" ng-model="category" required="required" ng-options="cat for cat in categories"/>
			</select>
		</div>
		<div>
			<label for="description">Description de l'objet</label>
			<textarea id="description" ng-model="description" ></textarea>
		</div>
		<input type="submit" class="largeButton bois" value="Valider votre objet">
	</form>
</section>

