<header class="topBar bois">
	<a href="#/"><i class="iconHome"></i></a>
	<a class="badge" href="#/messages/conversations">{{notifications | zeroIsNull}}</a>
	<h3><i class="iconSearch"></i> Recherche : {{keyword}}</h3>
</header>
<div ng-hide="hiddenMessage" class="errorMessage">
	{{errorMessage}}
</div>
<section id="recherche_nom">
	<ul class="unstyled onePicList">
		<li ng-repeat="item in item_list">
			<a class="pic" href="#/items/detail/{{item.id}}">
				<img class="ElemListPic" ng-src="/items/pictures/{{item.id}}" class="img-rounded">
			</a>
			<h4>
				<a href="#/items/detail/{{item.id}}">{{item.name}}</a> prêté par {{item.ownerName}}
			</h4>
		</li>
	</ul>
</section>
